<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jason.trade.mapper.CargoInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jason.trade.model.CargoInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="boxes" property="boxes" jdbcType="INTEGER" />
    <result column="cargo_id" property="cargoId" jdbcType="VARCHAR" />
    <result column="cargo_name" property="cargoName" jdbcType="VARCHAR" />
    <result column="cargo_no" property="cargoNo" jdbcType="VARCHAR" />
    <result column="contract_amount" property="contractAmount" jdbcType="DOUBLE" />
    <result column="contract_id" property="contractId" jdbcType="VARCHAR" />
    <result column="contract_money" property="contractMoney" jdbcType="DOUBLE" />
    <result column="cost_price" property="costPrice" jdbcType="DOUBLE" />
    <result column="create_date_time" property="createDateTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="expect_store_boxes" property="expectStoreBoxes" jdbcType="INTEGER" />
    <result column="expect_store_weight" property="expectStoreWeight" jdbcType="DOUBLE" />
    <result column="invoice_amount" property="invoiceAmount" jdbcType="DOUBLE" />
    <result column="invoice_money" property="invoiceMoney" jdbcType="DOUBLE" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="real_store_boxes" property="realStoreBoxes" jdbcType="INTEGER" />
    <result column="real_store_money" property="realStoreMoney" jdbcType="DOUBLE" />
    <result column="real_store_weight" property="realStoreWeight" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
    <result column="business_mode" property="businessMode" jdbcType="VARCHAR" />
    <result column="company_no" property="companyNo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.jason.trade.entity.CargoManageInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="boxes" property="boxes" jdbcType="INTEGER" />
    <result column="cargo_id" property="cargoId" jdbcType="VARCHAR" />
    <result column="cargo_name" property="cargoName" jdbcType="VARCHAR" />
    <result column="cargo_no" property="cargoNo" jdbcType="VARCHAR" />
    <result column="contract_amount" property="contractAmount" jdbcType="DOUBLE" />
    <result column="contract_id" property="contractId" jdbcType="VARCHAR" />
    <result column="contract_money" property="contractMoney" jdbcType="DOUBLE" />
    <result column="cost_price" property="costPrice" jdbcType="DOUBLE" />
    <result column="create_date_time" property="createDateTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="expect_store_boxes" property="expectStoreBoxes" jdbcType="INTEGER" />
    <result column="expect_store_weight" property="expectStoreWeight" jdbcType="DOUBLE" />
    <result column="invoice_amount" property="invoiceAmount" jdbcType="DOUBLE" />
    <result column="invoice_money" property="invoiceMoney" jdbcType="DOUBLE" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="real_store_boxes" property="realStoreBoxes" jdbcType="INTEGER" />
    <result column="real_store_money" property="realStoreMoney" jdbcType="DOUBLE" />
    <result column="real_store_weight" property="realStoreWeight" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="external_contract" property="contractNo" jdbcType="VARCHAR" />
    <result column="inside_contract" property="insideContract" jdbcType="VARCHAR" />
    <result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
    <result column="business_mode" property="businessMode" jdbcType="VARCHAR" />
    <result column="warehouse" property="warehouse" jdbcType="VARCHAR" />
    <result column="store_date" property="storeDate" jdbcType="VARCHAR" />
    <result column="company_no" property="companyNo" jdbcType="VARCHAR" />
    <result column="container_no" property="containerNo" jdbcType="VARCHAR" />
    <result column="ladingbill_no" property="ladingbillNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, boxes, cargo_id, cargo_name, cargo_no, contract_amount, contract_id, contract_money, 
    cost_price, create_date_time, create_user, expect_store_boxes, expect_store_weight, 
    invoice_amount, invoice_money, level, real_store_boxes, real_store_money, real_store_weight, 
    status, unit_price, business_mode, company_no
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap2" parameterType="com.jason.trade.entity.CargoParam" >
    select a.*,b.external_contract,b.inside_contract,b.warehouse,b.store_date,b.ladingbill_no,b.container_no
    from cargo_info a inner join contract_base_info b on a.contract_id = b.contract_id
    where 1 = 1 and a.status != '0' and b.status in ('4','5')
    <if test="contractNo != null" >
      and b.external_contract like '%${contractNo}%'
    </if>
    <if test="insideContract != null" >
      and b.inside_contract like '%${insideContract}%'
    </if>
    <if test="warehouse != null" >
      and b.warehouse like '%${warehouse}%'
    </if>
    <if test="ladingbillNo != null" >
      and b.ladingbill_no like '%${ladingbillNo}%'
    </if>
    <if test="containerNo != null" >
      and b.container_no like '%${containerNo}%'
    </if>
    <if test="storeStartDate != null and storeStartDate != ''" >
      and b.store_date &gt;= '${storeStartDate}'
    </if>
    <if test="storeEndDate != null and storeEndDate != ''" >
      and b.store_date &lt;= '${storeEndDate}'
    </if>
    <if test="level != null and level != ''" >
      and a.level = '${level}'
    </if>
    <if test="status != null and status != ''" >
      and a.status = '${status}'
    </if>
    <if test="cargoName != null and cargoName != ''" >
      and a.cargo_name = '${cargoName}'
    </if>
    <if test="cargoNo != null" >
      and a.cargo_no like '%${cargoNo}%'
    </if>
    <if test="customerName != null and customerName != ''" >
      and a.cargo_id in (
      select cargo_id from sale_info where 1=1
      <if test="customerName != null and customerName != ''" >
        and customer_name like '%${customerName}%'
      </if>
      )
    </if>
    order by a.id desc
    limit ${start},${limit}
  </select>
  <select id="selectCountByExample" resultType="java.lang.Integer" parameterType="com.jason.trade.entity.CargoParam" >
    select count(1)
    from cargo_info a inner join contract_base_info b on a.contract_id = b.contract_id
    where 1 = 1 and a.status != '0' and b.status in ('4','5')
    <if test="contractNo != null and contractNo != ''" >
      and b.external_contract like '%${contractNo}%'
    </if>
    <if test="insideContract != null and insideContract != ''" >
      and b.inside_contract like '%${insideContract}%'
    </if>
    <if test="warehouse != null and warehouse != ''" >
      and b.warehouse like '%${warehouse}%'
    </if>
    <if test="ladingbillNo != null" >
      and b.ladingbill_no like '%${ladingbillNo}%'
    </if>
    <if test="containerNo != null" >
      and b.container_no like '%${containerNo}%'
    </if>
    <if test="storeStartDate != null and storeStartDate != ''" >
      and b.store_date &gt;= '${storeStartDate}'
    </if>
    <if test="storeEndDate != null and storeEndDate != ''" >
      and b.store_date &lt;= '${storeEndDate}'
    </if>
    <if test="level != null and level != ''" >
      and a.level = '${level}'
    </if>
    <if test="status != null and status != ''" >
      and a.status = '${status}'
    </if>
    <if test="cargoName != null and cargoName != ''" >
      and a.cargo_name = '${cargoName}'
    </if>
    <if test="cargoNo != null" >
      and a.cargo_no like '%${cargoNo}%'
    </if>
    <if test="customerName != null and customerName != ''" >
      and a.cargo_id in (
      select cargo_id from sale_info where 1=1
      <if test="customerName != null and customerName != ''" >
        and customer_name like '%${customerName}%'
      </if>
      )
    </if>
  </select>
  <select id="getTotalStoreWeightByExample" resultType="java.lang.Integer" parameterType="com.jason.trade.entity.CargoParam" >
    select sum(a.real_store_weight)
    from cargo_info a inner join contract_base_info b on a.contract_id = b.contract_id
    where a.status = '1'
    <if test="contractId != null and contractId != ''" >
      and b.contract_id = '${contractId}'
    </if>
    <if test="contractNo != null and contractNo != ''" >
      and b.external_contract like '%${contractNo}%'
    </if>
    <if test="insideContract != null and insideContract != ''" >
      and b.inside_contract like '%${insideContract}%'
    </if>
    <if test="warehouse != null and warehouse != ''" >
      and b.warehouse like '%${warehouse}%'
    </if>
    <if test="ladingbillNo != null" >
      and b.ladingbill_no like '%${ladingbillNo}%'
    </if>
    <if test="containerNo != null" >
      and b.container_no like '%${containerNo}%'
    </if>
    <if test="storeStartDate != null and storeStartDate != ''" >
      and b.store_date &gt;= '${storeStartDate}'
    </if>
    <if test="storeEndDate != null and storeEndDate != ''" >
      and b.store_date &lt;= '${storeEndDate}'
    </if>
    <if test="level != null and level != ''" >
      and a.level = '${level}'
    </if>
    <if test="cargoName != null and cargoName != ''" >
      and a.cargo_name = '${cargoName}'
    </if>
    <if test="cargoNo != null" >
      and a.cargo_no like '%${cargoNo}%'
    </if>
    <if test="customerName != null and customerName != ''" >
      and a.cargo_id in (
      select cargo_id from sale_info where 1=1
      <if test="customerName != null and customerName != ''" >
        and customer_name like '%${customerName}%'
      </if>
      )
    </if>
  </select>
  <select id="getTotalStoreBoxesByExample" resultType="java.lang.Integer" parameterType="com.jason.trade.entity.CargoParam" >
    select sum(a.real_store_boxes)
    from cargo_info a inner join contract_base_info b on a.contract_id = b.contract_id
    where a.status = '1'
    <if test="contractNo != null and contractNo != ''" >
      and b.external_contract like '%${contractNo}%'
    </if>
    <if test="insideContract != null and insideContract != ''" >
      and b.inside_contract like '%${insideContract}%'
    </if>
    <if test="warehouse != null and warehouse != ''" >
      and b.warehouse like '%${warehouse}%'
    </if>
    <if test="ladingbillNo != null" >
      and b.ladingbill_no like '%${ladingbillNo}%'
    </if>
    <if test="containerNo != null" >
      and b.container_no like '%${containerNo}%'
    </if>
    <if test="storeStartDate != null and storeStartDate != ''" >
      and b.store_date &gt;= '${storeStartDate}'
    </if>
    <if test="storeEndDate != null and storeEndDate != ''" >
      and b.store_date &lt;= '${storeEndDate}'
    </if>
    <if test="level != null and level != ''" >
      and a.level = '${level}'
    </if>
    <if test="cargoName != null and cargoName != ''" >
      and a.cargo_name = '${cargoName}'
    </if>
    <if test="cargoNo != null" >
      and a.cargo_no like '%${cargoNo}%'
    </if>
    <if test="customerName != null and customerName != ''" >
      and a.cargo_id in (
      select cargo_id from sale_info where 1=1
      <if test="customerName != null and customerName != ''" >
        and customer_name like '%${customerName}%'
      </if>
      )
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.jason.trade.model.CargoInfo" >
    update cargo_info
    <set >
      <if test="boxes != null" >
        boxes = #{boxes,jdbcType=INTEGER},
      </if>
      <if test="cargoId != null" >
        cargo_id = #{cargoId,jdbcType=VARCHAR},
      </if>
      <if test="cargoName != null" >
        cargo_name = #{cargoName,jdbcType=VARCHAR},
      </if>
      <if test="cargoNo != null" >
        cargo_no = #{cargoNo,jdbcType=VARCHAR},
      </if>
      <if test="contractAmount != null" >
        contract_amount = #{contractAmount,jdbcType=DOUBLE},
      </if>
      <if test="contractId != null" >
        contract_id = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="contractMoney != null" >
        contract_money = #{contractMoney,jdbcType=DOUBLE},
      </if>
      <if test="costPrice != null" >
        cost_price = #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="expectStoreBoxes != null" >
        expect_store_boxes = #{expectStoreBoxes,jdbcType=INTEGER},
      </if>
      <if test="expectStoreWeight != null" >
        expect_store_weight = #{expectStoreWeight,jdbcType=DOUBLE},
      </if>
      <if test="invoiceAmount != null" >
        invoice_amount = #{invoiceAmount,jdbcType=DOUBLE},
      </if>
      <if test="invoiceMoney != null" >
        invoice_money = #{invoiceMoney,jdbcType=DOUBLE},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="realStoreBoxes != null" >
        real_store_boxes = #{realStoreBoxes,jdbcType=INTEGER},
      </if>
      <if test="realStoreMoney != null" >
        real_store_money = #{realStoreMoney,jdbcType=DOUBLE},
      </if>
      <if test="realStoreWeight != null" >
        real_store_weight = #{realStoreWeight,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="businessMode != null" >
        business_mode = #{status,jdbcType=VARCHAR},
      </if>
      <if test="company_no != null" >
        company_no = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>