<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jason.trade.mapper.ContractBaseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jason.trade.model.ContractBaseInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eta" property="eta" jdbcType="VARCHAR" />
    <result column="etd" property="etd" jdbcType="VARCHAR" />
    <result column="lcno" property="lcno" jdbcType="VARCHAR" />
    <result column="qacertificate" property="qacertificate" jdbcType="INTEGER" />
    <result column="added_value_tax" property="addedValueTax" jdbcType="DOUBLE" />
    <result column="agent" property="agent" jdbcType="VARCHAR" />
    <result column="agent_pass_date" property="agentPassDate" jdbcType="VARCHAR" />
    <result column="agent_send_date" property="agentSendDate" jdbcType="VARCHAR" />
    <result column="container_no" property="containerNo" jdbcType="VARCHAR" />
    <result column="container_size" property="containerSize" jdbcType="VARCHAR" />
    <result column="contract_date" property="contractDate" jdbcType="VARCHAR" />
    <result column="contract_id" property="contractId" jdbcType="VARCHAR" />
    <result column="create_date_time" property="createDateTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="destination_port" property="destinationPort" jdbcType="VARCHAR" />
    <result column="expect_sailing_date" property="expectSailingDate" jdbcType="VARCHAR" />
    <result column="external_company" property="externalCompany" jdbcType="VARCHAR" />
    <result column="external_contract" property="externalContract" jdbcType="VARCHAR" />
    <result column="final_payment" property="finalPayment" jdbcType="DOUBLE" />
    <result column="final_payment_date" property="finalPaymentDate" jdbcType="VARCHAR" />
    <result column="final_rate" property="finalRate" jdbcType="REAL" />
    <result column="inside_contract" property="insideContract" jdbcType="VARCHAR" />
    <result column="insurance_buy_date" property="insuranceBuyDate" jdbcType="VARCHAR" />
    <result column="insurance_company" property="insuranceCompany" jdbcType="VARCHAR" />
    <result column="insurance_money" property="insuranceMoney" jdbcType="DOUBLE" />
    <result column="is_check_elec" property="isCheckElec" jdbcType="INTEGER" />
    <result column="baoguandan" property="baoguandan" jdbcType="INTEGER" />
    <result column="is_need_insurance" property="isNeedInsurance" jdbcType="INTEGER" />
    <result column="issuing_bank" property="issuingBank" jdbcType="VARCHAR" />
    <result column="issuing_date" property="issuingDate" jdbcType="VARCHAR" />
    <result column="ladingbill_no" property="ladingbillNo" jdbcType="VARCHAR" />
    <result column="origin_country" property="originCountry" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="pre_payment" property="prePayment" jdbcType="DOUBLE" />
    <result column="pre_payment_date" property="prePaymentDate" jdbcType="VARCHAR" />
    <result column="pre_rate" property="preRate" jdbcType="REAL" />
    <result column="price_condition" property="priceCondition" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remittance_date" property="remittanceDate" jdbcType="VARCHAR" />
    <result column="remittance_rate" property="remittanceRate" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="store_date" property="storeDate" jdbcType="VARCHAR" />
    <result column="tariff" property="tariff" jdbcType="DOUBLE" />
    <result column="tariff_no" property="tariffNo" jdbcType="VARCHAR" />
    <result column="tax_pay_date" property="taxPayDate" jdbcType="VARCHAR" />
    <result column="total_boxes" property="totalBoxes" jdbcType="INTEGER" />
    <result column="total_contract_amount" property="totalContractAmount" jdbcType="DOUBLE" />
    <result column="total_contract_money" property="totalContractMoney" jdbcType="DOUBLE" />
    <result column="total_invoice_amount" property="totalInvoiceAmount" jdbcType="DOUBLE" />
    <result column="total_invoice_money" property="totalInvoiceMoney" jdbcType="DOUBLE" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="warehouse" property="warehouse" jdbcType="VARCHAR" />
    <result column="yahuidaoqi_date" property="yahuidaoqiDate" jdbcType="VARCHAR" />
    <result column="exchange_rate" property="exchangeRate" jdbcType="DOUBLE" />
    <result column="hasbaoguan" property="hasbaoguan" jdbcType="INTEGER" />
    <result column="zhixiangfei" property="zhixiangfei" jdbcType="DOUBLE" />
    <result column="zhigangfei" property="zhigangfei" jdbcType="DOUBLE" />
    <result column="is_yahui" property="isYahui" jdbcType="INTEGER" />
    <result column="yahui_money" property="yahuiMoney" jdbcType="DOUBLE" />
    <result column="yahui_year_rate" property="yahuiYearRate" jdbcType="DOUBLE" />
    <result column="yahui_day_rate" property="yahuiDayRate" jdbcType="DOUBLE" />
    <result column="is_financing" property="isFinancing" jdbcType="INTEGER" />
    <result column="financing_money" property="financingMoney" jdbcType="DOUBLE" />
    <result column="financing_rate" property="financingRate" jdbcType="DOUBLE" />
    <result column="daoqi_rate" property="daoqiRate" jdbcType="DOUBLE" />
    <result column="financing_daoqi" property="financingDaoqi" jdbcType="VARCHAR" />
    <result column="financing_bank" property="financingBank" jdbcType="VARCHAR" />
    <result column="pre_pay_bank" property="prePayBank" jdbcType="VARCHAR" />
    <result column="final_pay_bank" property="finalPayBank" jdbcType="VARCHAR" />
    <result column="owner_company" property="ownerCompany" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.jason.trade.entity.QueryContractInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eta" property="eta" jdbcType="VARCHAR" />
    <result column="contract_date" property="contractDate" jdbcType="VARCHAR" />
    <result column="external_company" property="externalCompany" jdbcType="VARCHAR" />
    <result column="external_contract" property="externalContract" jdbcType="VARCHAR" />
    <result column="inside_contract" property="insideContract" jdbcType="VARCHAR" />
    <result column="company_no" property="companyNo" jdbcType="VARCHAR" />
    <result column="cargo_name" property="cargoName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="business_mode" property="businessMode" jdbcType="VARCHAR" />
    <result column="unit_price" property="unitPrice" jdbcType="VARCHAR" />
    <result column="contract_amount" property="contractAmount" jdbcType="VARCHAR" />
    <result column="contract_money" property="contractMoney" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, eta, etd, lcno, qacertificate, added_value_tax, agent, agent_pass_date, agent_send_date,
    container_no, container_size, contract_date,
    contract_id, create_date_time, create_user, currency, destination_port, expect_sailing_date,
    external_company, external_contract, final_payment, final_payment_date, final_rate,
    inside_contract, insurance_buy_date, insurance_company, insurance_money, is_check_elec,
    is_need_insurance, issuing_bank, issuing_date, ladingbill_no, origin_country, pay_type,
    pre_payment, pre_payment_date, pre_rate, price_condition, remark, remittance_date,
    remittance_rate, status, store_date, tariff, tariff_no, tax_pay_date, total_boxes,
    total_contract_amount, total_contract_money, total_invoice_amount, total_invoice_money,
    version, warehouse, yahuidaoqi_date, exchange_rate, hasbaoguan,zhixiangfei,zhigangfei,
    is_yahui,yahui_money,yahui_year_rate,yahui_day_rate,is_financing,financing_money,
    financing_rate,financing_daoqi,daoqi_rate,financing_bank,pre_pay_bank,final_pay_bank,owner_company,baoguandan
  </sql>
  <update id="updateByPrimaryKeySelective" parameterType="com.jason.trade.model.ContractBaseInfo" >
    update contract_base_info
    <set >
      <if test="eta != null" >
        eta = #{eta,jdbcType=VARCHAR},
      </if>
      <if test="etd != null" >
        etd = #{etd,jdbcType=VARCHAR},
      </if>
      <if test="lcno != null" >
        lcno = #{lcno,jdbcType=VARCHAR},
      </if>
      <if test="qacertificate != null" >
        qacertificate = #{qacertificate,jdbcType=INTEGER},
      </if>
      <if test="addedValueTax != null" >
        added_value_tax = #{addedValueTax,jdbcType=DOUBLE},
      </if>
      <if test="agent != null" >
        agent = #{agent,jdbcType=VARCHAR},
      </if>
      <if test="agentPassDate != null" >
        agent_pass_date = #{agentPassDate,jdbcType=VARCHAR},
      </if>
      <if test="agentSendDate != null" >
        agent_send_date = #{agentSendDate,jdbcType=VARCHAR},
      </if>
      <if test="containerNo != null" >
        container_no = #{containerNo,jdbcType=VARCHAR},
      </if>
      <if test="containerSize != null" >
        container_size = #{containerSize,jdbcType=VARCHAR},
      </if>
      <if test="contractDate != null" >
        contract_date = #{contractDate,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        contract_id = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="destinationPort != null" >
        destination_port = #{destinationPort,jdbcType=VARCHAR},
      </if>
      <if test="expectSailingDate != null" >
        expect_sailing_date = #{expectSailingDate,jdbcType=VARCHAR},
      </if>
      <if test="externalCompany != null" >
        external_company = #{externalCompany,jdbcType=VARCHAR},
      </if>
      <if test="externalContract != null" >
        external_contract = #{externalContract,jdbcType=VARCHAR},
      </if>
      <if test="finalPayment != null" >
        final_payment = #{finalPayment,jdbcType=DOUBLE},
      </if>
      <if test="finalPaymentDate != null" >
        final_payment_date = #{finalPaymentDate,jdbcType=VARCHAR},
      </if>
      <if test="finalRate != null" >
        final_rate = #{finalRate,jdbcType=REAL},
      </if>
      <if test="insideContract != null" >
        inside_contract = #{insideContract,jdbcType=VARCHAR},
      </if>
      <if test="insuranceBuyDate != null" >
        insurance_buy_date = #{insuranceBuyDate,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCompany != null" >
        insurance_company = #{insuranceCompany,jdbcType=VARCHAR},
      </if>
      <if test="insuranceMoney != null" >
        insurance_money = #{insuranceMoney,jdbcType=DOUBLE},
      </if>
      <if test="isCheckElec != null" >
        is_check_elec = #{isCheckElec,jdbcType=INTEGER},
      </if>
      <if test="isNeedInsurance != null" >
        is_need_insurance = #{isNeedInsurance,jdbcType=INTEGER},
      </if>
      <if test="issuingBank != null" >
        issuing_bank = #{issuingBank,jdbcType=VARCHAR},
      </if>
      <if test="issuingDate != null" >
        issuing_date = #{issuingDate,jdbcType=VARCHAR},
      </if>
      <if test="ladingbillNo != null" >
        ladingbill_no = #{ladingbillNo,jdbcType=VARCHAR},
      </if>
      <if test="originCountry != null" >
        origin_country = #{originCountry,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="prePayment != null" >
        pre_payment = #{prePayment,jdbcType=DOUBLE},
      </if>
      <if test="prePaymentDate != null" >
        pre_payment_date = #{prePaymentDate,jdbcType=VARCHAR},
      </if>
      <if test="preRate != null" >
        pre_rate = #{preRate,jdbcType=REAL},
      </if>
      <if test="priceCondition != null" >
        price_condition = #{priceCondition,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remittanceDate != null" >
        remittance_date = #{remittanceDate,jdbcType=VARCHAR},
      </if>
      <if test="remittanceRate != null" >
        remittance_rate = #{remittanceRate,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="storeDate != null" >
        store_date = #{storeDate,jdbcType=VARCHAR},
      </if>
      <if test="tariff != null" >
        tariff = #{tariff,jdbcType=DOUBLE},
      </if>
      <if test="tariffNo != null" >
        tariff_no = #{tariffNo,jdbcType=VARCHAR},
      </if>
      <if test="taxPayDate != null" >
        tax_pay_date = #{taxPayDate,jdbcType=VARCHAR},
      </if>
      <if test="totalBoxes != null" >
        total_boxes = #{totalBoxes,jdbcType=INTEGER},
      </if>
      <if test="totalContractAmount != null" >
        total_contract_amount = #{totalContractAmount,jdbcType=DOUBLE},
      </if>
      <if test="totalContractMoney != null" >
        total_contract_money = #{totalContractMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalInvoiceAmount != null" >
        total_invoice_amount = #{totalInvoiceAmount,jdbcType=DOUBLE},
      </if>
      <if test="totalInvoiceMoney != null" >
        total_invoice_money = #{totalInvoiceMoney,jdbcType=DOUBLE},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="warehouse != null" >
        warehouse = #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="yahuidaoqiDate != null" >
        yahuidaoqi_date = #{yahuidaoqiDate,jdbcType=VARCHAR},
      </if>
      <if test="financingDaoqi != null" >
        financing_daoqi = #{financingDaoqi,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRate != null" >
        exchange_rate = #{exchangeRate,jdbcType=DOUBLE},
      </if>
      <if test="hasbaoguan != null" >
        hasbaoguan = #{hasbaoguan,jdbcType=INTEGER},
      </if>
      <if test="zhixiangfei != null" >
        zhixiangfei = #{zhixiangfei,jdbcType=DOUBLE},
      </if>
      <if test="zhigangfei != null" >
        zhigangfei = #{zhigangfei,jdbcType=DOUBLE},
      </if>
      <if test="isYahui != null" >
        is_yahui = #{isYahui,jdbcType=INTEGER},
      </if>
      <if test="isFinancing != null" >
        is_financing = #{isFinancing,jdbcType=INTEGER},
      </if>
      <if test="yahuiMoney != null" >
        yahui_money = #{yahuiMoney,jdbcType=DOUBLE},
      </if>
      <if test="yahuiYearRate != null" >
        yahui_year_rate = #{yahuiYearRate,jdbcType=DOUBLE},
      </if>
      <if test="yahuiDayRate != null" >
        yahui_day_rate = #{yahuiDayRate,jdbcType=DOUBLE},
      </if>
      <if test="financingMoney != null" >
        financing_money = #{financingMoney,jdbcType=DOUBLE},
      </if>
      <if test="financingRate != null" >
        financing_rate = #{financingRate,jdbcType=DOUBLE},
      </if>
      <if test="daoqiRate != null" >
        daoqi_rate = #{daoqiRate,jdbcType=DOUBLE},
      </if>
      <if test="financingMoney != null" >
        financing_bank = #{financingBank,jdbcType=VARCHAR},
      </if>
      <if test="prePayBank != null" >
        pre_pay_bank = #{prePayBank,jdbcType=VARCHAR},
      </if>
      <if test="finalPayBank != null" >
        final_pay_bank = #{finalPayBank,jdbcType=VARCHAR},
      </if>
      <if test="ownerCompany != null" >
        owner_company = #{ownerCompany,jdbcType=VARCHAR},
      </if>
      <if test="baoguandan != null" >
        baoguandan = #{baoguandan,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jason.trade.entity.ContractParam" >
    select a.* from contract_base_info a
    where 1 = 1
    <if test="externalContract != null" >
      and a.external_contract like '%${externalContract}%'
    </if>
    <if test="insideContract != null" >
      and a.inside_contract like '%${insideContract}%'
    </if>
    <if test="agent != null and agent != ''" >
      and a.agent in (${agent})
    </if>
    <if test="containerNo != null" >
      and a.container_no like '%${containerNo}%'
    </if>
    <if test="ladingbillNo != null" >
      and a.ladingbill_no like '%${ladingbillNo}%'
    </if>
    <if test="externalCompany != null and externalCompany != ''" >
      and a.external_company in (${externalCompany})
    </if>
    <choose>
      <when test="status != null and status != ''">
        and a.status in (${status})
      </when>
      <otherwise>
        and a.status != '0'
      </otherwise>
    </choose>
    <if test="destinationPort != null and destinationPort != ''" >
      and a.destination_port in (${destinationPort})
    </if>
    <if test="contractStartDate != null and contractStartDate != ''" >
      and a.contract_date &gt;= '${contractStartDate}'
    </if>
    <if test="contractEndDate != null and contractEndDate != ''" >
      and a.contract_date &lt;= '${contractEndDate}'
    </if>
    <if test="etaStartDate != null and etaStartDate != ''" >
      and a.eta &gt;= '${etaStartDate}'
    </if>
    <if test="etaEndDate != null and etaEndDate != ''" >
      and a.eta &lt;= '${etaEndDate}'
    </if>
    <if test="(businessMode != null and businessMode != '') or (cargoName != null and cargoName != '') or (level != null and level != '') or (companyNo != null and companyNo != '') or (cargoNo != null and cargoNo != '')" >
      and a.contract_id in (
      select contract_id from cargo_info where 1=1
      <if test="cargoName != null and cargoName != ''" >
        and cargo_name = '${cargoName}'
      </if>
      <if test="level != null and level != ''" >
        and level in (${level})
      </if>
      <if test="businessMode != null and businessMode != ''" >
        and business_mode in (${businessMode})
      </if>
      <if test="companyNo != null" >
        and company_no like '%${companyNo}%'
      </if>
      <if test="cargoNo != null" >
        and cargo_no like '%${cargoNo}%'
      </if>
      )
    </if>

    order by a.id desc
    <if test="start != null and limit != null" >
      limit ${start},${limit}
    </if>
  </select>
  <select id="selectCountByExample" resultType="java.lang.Integer" parameterType="com.jason.trade.entity.ContractParam" >
    select count(1) from contract_base_info a
    where 1 = 1
    <if test="externalContract != null" >
      and a.external_contract like '%${externalContract}%'
    </if>
    <if test="insideContract != null" >
      and a.inside_contract like '%${insideContract}%'
    </if>
    <if test="agent != null and agent != ''" >
      and a.agent in (${agent})
    </if>
    <if test="containerNo != null" >
      and a.container_no like '%${containerNo}%'
    </if>
    <if test="ladingbillNo != null" >
      and a.ladingbill_no like '%${ladingbillNo}%'
    </if>
    <if test="externalCompany != null and externalCompany != ''" >
      and a.external_company in (${externalCompany})
    </if>
    <choose>
      <when test="status != null and status != ''">
        and a.status in (${status})
      </when>
      <otherwise>
        and a.status != '0'
      </otherwise>
    </choose>
    <if test="destinationPort != null and destinationPort != ''" >
      and a.destination_port in (${destinationPort})
    </if>
    <if test="contractStartDate != null and contractStartDate != ''" >
      and a.contract_date &gt;= '${contractStartDate}'
    </if>
    <if test="contractEndDate != null and contractEndDate != ''" >
      and a.contract_date &lt;= '${contractEndDate}'
    </if>
    <if test="etaStartDate != null and etaStartDate != ''" >
      and a.eta &gt;= '${etaStartDate}'
    </if>
    <if test="etaEndDate != null and etaEndDate != ''" >
      and a.eta &lt;= '${etaEndDate}'
    </if>
    <if test="(businessMode != null and businessMode != '') or (cargoName != null and cargoName != '') or (level != null and level != '') or (companyNo != null and companyNo != '') or (cargoNo != null and cargoNo != '')" >
      and a.contract_id in (
      select contract_id from cargo_info where 1=1
      <if test="cargoName != null and cargoName != ''" >
        and cargo_name = '${cargoName}'
      </if>
      <if test="level != null and level != ''" >
        and level in (${level})
      </if>
      <if test="businessMode != null and businessMode != ''" >
        and business_mode in (${businessMode})
      </if>
      <if test="companyNo != null" >
        and company_no like '%${companyNo}%'
      </if>
      <if test="cargoNo != null" >
        and cargo_no like '%${cargoNo}%'
      </if>
      )
    </if>
  </select>
  <select id="getTotalInfo" resultType="com.jason.trade.entity.ContractTotalInfo" parameterType="com.jason.trade.entity.ContractParam" >
    select sum(a.total_contract_money) as totalContractMoney,
    sum(a.total_contract_amount) as totalContractAmount,
    sum(a.total_invoice_money) as totalInvoiceMoney,
    sum(a.total_invoice_amount) as totalInvoiceAmount
    from contract_base_info a
    where 1 = 1
    <if test="externalContract != null" >
      and a.external_contract like '%${externalContract}%'
    </if>
    <if test="insideContract != null" >
      and a.inside_contract like '%${insideContract}%'
    </if>
    <if test="agent != null and agent != ''" >
      and a.agent in (${agent})
    </if>
    <if test="containerNo != null" >
      and a.container_no like '%${containerNo}%'
    </if>
    <if test="ladingbillNo != null" >
      and a.ladingbill_no like '%${ladingbillNo}%'
    </if>
    <if test="externalCompany != null and externalCompany != ''" >
      and a.external_company in (${externalCompany})
    </if>
    <choose>
      <when test="status != null and status != ''">
        and a.status in (${status})
      </when>
      <otherwise>
        and a.status != '0'
      </otherwise>
    </choose>
    <if test="destinationPort != null and destinationPort != ''" >
      and a.destination_port in (${destinationPort})
    </if>
    <if test="contractStartDate != null and contractStartDate != ''" >
      and a.contract_date &gt;= '${contractStartDate}'
    </if>
    <if test="contractEndDate != null and contractEndDate != ''" >
      and a.contract_date &lt;= '${contractEndDate}'
    </if>
    <if test="etaStartDate != null and etaStartDate != ''" >
      and a.eta &gt;= '${etaStartDate}'
    </if>
    <if test="etaEndDate != null and etaEndDate != ''" >
      and a.eta &lt;= '${etaEndDate}'
    </if>
    <if test="(businessMode != null and businessMode != '') or (cargoName != null and cargoName != '') or (level != null and level != '') or (companyNo != null and companyNo != '') or (cargoNo != null and cargoNo != '')" >
      and a.contract_id in (
      select contract_id from cargo_info where 1=1
      <if test="cargoName != null and cargoName != ''" >
        and cargo_name = '${cargoName}'
      </if>
      <if test="level != null and level != ''" >
        and level in (${level})
      </if>
      <if test="businessMode != null and businessMode != ''" >
        and business_mode in (${businessMode})
      </if>
      <if test="companyNo != null" >
        and company_no like '%${companyNo}%'
      </if>
      <if test="cargoNo != null" >
        and cargo_no like '%${cargoNo}%'
      </if>
      )
    </if>

    order by a.id desc
    <if test="start != null and limit != null" >
      limit ${start},${limit}
    </if>
  </select>
  <select id="getTotalNumPerDay" resultType="com.jason.trade.entity.ContractForCharts">
    select count(id) as total,DATE_FORMAT( create_date_time, '%Y-%m-%d') as dateStr from contract_base_info
    where status != 0
    group by DATE_FORMAT( create_date_time, '%Y-%m-%d')
    ORDER BY id desc limit 0,15
  </select>
  <update id="updateStatusByField" parameterType="com.jason.trade.entity.ContractParam">
    update contract_base_info set status = '${status}' where ${fieldName} != '' and ${fieldName} &lt;= '${today}'
  </update>



  <select id="queryContractListByExample" resultMap="BaseResultMap2" parameterType="com.jason.trade.entity.ContractParam" >
    select a.id,a.eta,a.company_no,a.contract_date,a.external_contract,a.inside_contract,a.external_company,
    b.cargo_name,b.level,b.business_mode,b.unit_price,b.contract_amount,b.contract_money
    from contract_base_info a inner join cargo_info b on a.contract_id = b.contract_id
    where 1 = 1 and a.status != '0'
    <if test="externalCompany != null and externalCompany != ''" >
      and a.external_company in (${externalCompany})
    </if>
    <if test="contractStartDate != null and contractStartDate != ''" >
      and a.contract_date &gt;= '${contractStartDate}'
    </if>
    <if test="contractEndDate != null and contractEndDate != ''" >
      and a.contract_date &lt;= '${contractEndDate}'
    </if>
    <if test="etaStartDate != null and etaStartDate != ''" >
      and a.eta &gt;= '${etaStartDate}'
    </if>
    <if test="etaEndDate != null and etaEndDate != ''" >
      and a.eta &lt;= '${etaEndDate}'
    </if>
    <if test="(businessMode != null and businessMode != '') or (cargoName != null and cargoName != '') or (level != null and level != '') or (companyNo != null and companyNo != '')" >
      and a.contract_id in (
      select contract_id from cargo_info where 1=1
      <if test="cargoName != null and cargoName != ''" >
        and cargo_name = '${cargoName}'
      </if>
      <if test="level != null and level != ''" >
        and level in (${level})
      </if>
      <if test="businessMode != null and businessMode != ''" >
        and business_mode in (${businessMode})
      </if>
      <if test="companyNo != null" >
        and company_no like '%${companyNo}%'
      </if>
      )
    </if>
    order by a.id desc
    <if test="start != null and limit != null" >
      limit ${start},${limit}
    </if>
  </select>
  <select id="queryContractTotalByExample" resultType="java.lang.Integer" parameterType="com.jason.trade.entity.ContractParam" >
    select count(1)
    from contract_base_info a inner join cargo_info b on a.contract_id = b.contract_id
    where 1 = 1 and a.status != '0'
    <if test="externalCompany != null and externalCompany != ''" >
      and a.external_company in (${externalCompany})
    </if>
    <if test="contractStartDate != null and contractStartDate != ''" >
      and a.contract_date &gt;= '${contractStartDate}'
    </if>
    <if test="contractEndDate != null and contractEndDate != ''" >
      and a.contract_date &lt;= '${contractEndDate}'
    </if>
    <if test="etaStartDate != null and etaStartDate != ''" >
      and a.eta &gt;= '${etaStartDate}'
    </if>
    <if test="etaEndDate != null and etaEndDate != ''" >
      and a.eta &lt;= '${etaEndDate}'
    </if>
    <if test="(businessMode != null and businessMode != '') or (cargoName != null and cargoName != '') or (level != null and level != '') or (companyNo != null and companyNo != '')" >
      and a.contract_id in (
      select contract_id from cargo_info where 1=1
      <if test="cargoName != null and cargoName != ''" >
        and cargo_name = '${cargoName}'
      </if>
      <if test="level != null and level != ''" >
        and level in (${level})
      </if>
      <if test="businessMode != null and businessMode != ''" >
        and business_mode in (${businessMode})
      </if>
      <if test="companyNo != null" >
        and company_no like '%${companyNo}%'
      </if>
      )
    </if>
  </select>
</mapper>