<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jason.trade.mapper.InternalContractInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jason.trade.model.InternalContractInfo" >
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="import_contract_no" jdbcType="VARCHAR" property="importContractNo" />
    <result column="contract_date" jdbcType="VARCHAR" property="contractDate" />
    <result column="contract_id" jdbcType="VARCHAR" property="contractId" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="container_no" jdbcType="VARCHAR" property="containerNo" />
    <result column="pay_date" jdbcType="VARCHAR" property="payDate" />
    <result column="pay_money" jdbcType="DOUBLE" property="payMoney" />
    <result column="receipt_date" jdbcType="VARCHAR" property="receiptDate" />
    <result column="create_date_time" jdbcType="VARCHAR" property="createDateTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="total_boxes" jdbcType="INTEGER" property="totalBoxes" />
    <result column="total_amount" jdbcType="DOUBLE" property="totalAmount" />
    <result column="total_money" jdbcType="DOUBLE" property="totalMoney" />
    <result column="real_amount" jdbcType="DOUBLE" property="realAmount" />
    <result column="real_money" jdbcType="DOUBLE" property="realMoney" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="warehouse" property="warehouse" jdbcType="VARCHAR" />
    <result column="store_date" property="storeDate" jdbcType="VARCHAR" />
    <result column="owner_company" property="ownerCompany" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, contract_no, contract_date, contract_id, supplier, pay_date, pay_money, receipt_date,
    create_date_time, create_user, remark, status, total_boxes, total_amount, total_money,
    real_amount, real_money, version, warehouse, store_date,owner_company,import_contract_no,container_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from internal_contract_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from internal_contract_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.jason.trade.model.InternalContractInfo" >
    update internal_contract_info
    <set>
      <if test="contractNo != null">
        contract_no = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="importContractNo != null">
        import_contract_no = #{importContractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractDate != null">
        contract_date = #{contractDate,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="containerNo != null">
        container_no = #{containerNo,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        pay_date = #{payDate,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null">
        pay_money = #{payMoney,jdbcType=DOUBLE},
      </if>
      <if test="receiptDate != null">
        receipt_date = #{receiptDate,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null">
        create_date_time = #{createDateTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="totalBoxes != null">
        total_boxes = #{totalBoxes,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=DOUBLE},
      </if>
      <if test="realAmount != null">
        real_amount = #{realAmount,jdbcType=DOUBLE},
      </if>
      <if test="realMoney != null">
        real_money = #{realMoney,jdbcType=DOUBLE},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="warehouse != null" >
        warehouse = #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="storeDate != null" >
        store_date = #{storeDate,jdbcType=VARCHAR},
      </if>
      <if test="ownerCompany != null" >
        owner_company = #{ownerCompany,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jason.trade.entity.InternalContractParam" >
    select
    <include refid="Base_Column_List" />
    from internal_contract_info
    where 1 = 1
    <if test="contractNo != null" >
      and contract_no like '%${contractNo}%'
    </if>
    <if test="importContractNo != null" >
      and import_contract_no like '%${importContractNo}%'
    </if>
    <if test="contractStartDate != null and contractStartDate != ''" >
      and contract_date &gt;= '${contractStartDate}'
    </if>
    <if test="contractEndDate != null and contractEndDate != ''" >
      and contract_date &lt;= '${contractEndDate}'
    </if>
    <choose>
      <when test="status != null and status != ''">
        and status in (${status})
      </when>
      <otherwise>
        and status != '0'
      </otherwise>
    </choose>
    order by id desc
    <if test="start != null and limit != null" >
      limit ${start},${limit}
    </if>
  </select>
  <select id="selectCountByExample" resultType="java.lang.Integer" parameterType="com.jason.trade.entity.InternalContractParam" >
  select count(1) from internal_contract_info
  where 1 = 1
  <if test="contractNo != null" >
    and contract_no like '%${contractNo}%'
  </if>
    <if test="importContractNo != null" >
      and import_contract_no like '%${importContractNo}%'
    </if>
  <if test="contractStartDate != null and contractStartDate != ''" >
    and contract_date &gt;= '${contractStartDate}'
  </if>
  <if test="contractEndDate != null and contractEndDate != ''" >
    and contract_date &lt;= '${contractEndDate}'
  </if>
  <choose>
    <when test="status != null and status != ''">
      and status in (${status})
    </when>
    <otherwise>
      and status != '0'
    </otherwise>
  </choose>
  order by id desc
  </select>
</mapper>