<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jason.trade.mapper.InternalContractInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jason.trade.model.InternalContractInfo" >
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="contract_date" jdbcType="VARCHAR" property="contractDate" />
    <result column="contract_id" jdbcType="VARCHAR" property="contractId" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="pay_date" jdbcType="VARCHAR" property="payDate" />
    <result column="pay_money" jdbcType="DOUBLE" property="payMoney" />
    <result column="receipt_date" jdbcType="VARCHAR" property="receiptDate" />
    <result column="create_date_time" jdbcType="VARCHAR" property="createDateTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="total_boxes" jdbcType="INTEGER" property="totalBoxes" />
    <result column="total_amount" jdbcType="DOUBLE" property="totalAmount" />
    <result column="total_money" jdbcType="DOUBLE" property="totalMoney" />
    <result column="real_amount" jdbcType="DOUBLE" property="realAmount" />
    <result column="real_money" jdbcType="DOUBLE" property="realMoney" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="warehouse" property="warehouse" jdbcType="VARCHAR" />
    <result column="store_date" property="storeDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, contract_no, contract_date, contract_id, supplier, pay_date, pay_money, receipt_date,
    create_date_time, create_user, remark, status, total_boxes, total_amount, total_money,
    real_amount, real_money, version, warehouse, store_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from internal_contract_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from internal_contract_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jason.trade.model.InternalContractInfo" >
    insert into internal_contract_info (id, contract_no, contract_date,
    contract_id, supplier, pay_date,
    pay_money, receipt_date, create_date_time,
    create_user, remark, status,
    total_boxes, total_amount, total_money,
    real_amount, real_money, version,
    warehouse, store_date)
    values (#{id,jdbcType=INTEGER}, #{contractNo,jdbcType=VARCHAR}, #{contractDate,jdbcType=VARCHAR},
    #{contractId,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR}, #{payDate,jdbcType=VARCHAR},
    #{payMoney,jdbcType=DOUBLE}, #{receiptDate,jdbcType=VARCHAR}, #{createDateTime,jdbcType=VARCHAR},
    #{createUser,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
    #{totalBoxes,jdbcType=INTEGER}, #{totalAmount,jdbcType=DOUBLE}, #{totalMoney,jdbcType=DOUBLE},
    #{realAmount,jdbcType=DOUBLE}, #{realMoney,jdbcType=DOUBLE}, #{version,jdbcType=INTEGER},
    #{warehouse,jdbcType=VARCHAR}, #{storeDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jason.trade.model.InternalContractInfo" >
    insert into internal_contract_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contractNo != null">
        contract_no,
      </if>
      <if test="contractDate != null">
        contract_date,
      </if>
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="supplier != null">
        supplier,
      </if>
      <if test="payDate != null">
        pay_date,
      </if>
      <if test="payMoney != null">
        pay_money,
      </if>
      <if test="receiptDate != null">
        receipt_date,
      </if>
      <if test="createDateTime != null">
        create_date_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="totalBoxes != null">
        total_boxes,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="totalMoney != null">
        total_money,
      </if>
      <if test="realAmount != null">
        real_amount,
      </if>
      <if test="realMoney != null">
        real_money,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="warehouse != null" >
        warehouse,
      </if>
      <if test="storeDate != null" >
        store_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contractNo != null">
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractDate != null">
        #{contractDate,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null">
        #{payMoney,jdbcType=DOUBLE},
      </if>
      <if test="receiptDate != null">
        #{receiptDate,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null">
        #{createDateTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="totalBoxes != null">
        #{totalBoxes,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=DOUBLE},
      </if>
      <if test="realAmount != null">
        #{realAmount,jdbcType=DOUBLE},
      </if>
      <if test="realMoney != null">
        #{realMoney,jdbcType=DOUBLE},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="warehouse != null" >
        #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="storeDate != null" >
        #{storeDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jason.trade.model.InternalContractInfo" >
    update internal_contract_info
    <set>
      <if test="contractNo != null">
        contract_no = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractDate != null">
        contract_date = #{contractDate,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        pay_date = #{payDate,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null">
        pay_money = #{payMoney,jdbcType=DOUBLE},
      </if>
      <if test="receiptDate != null">
        receipt_date = #{receiptDate,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null">
        create_date_time = #{createDateTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="totalBoxes != null">
        total_boxes = #{totalBoxes,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=DOUBLE},
      </if>
      <if test="realAmount != null">
        real_amount = #{realAmount,jdbcType=DOUBLE},
      </if>
      <if test="realMoney != null">
        real_money = #{realMoney,jdbcType=DOUBLE},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="warehouse != null" >
        warehouse = #{warehouse,jdbcType=VARCHAR},
      </if>
      <if test="storeDate != null" >
        store_date = #{storeDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jason.trade.model.InternalContractInfo" >
    update internal_contract_info
    set contract_no = #{contractNo,jdbcType=VARCHAR},
    contract_date = #{contractDate,jdbcType=VARCHAR},
    contract_id = #{contractId,jdbcType=VARCHAR},
    supplier = #{supplier,jdbcType=VARCHAR},
    pay_date = #{payDate,jdbcType=VARCHAR},
    pay_money = #{payMoney,jdbcType=DOUBLE},
    receipt_date = #{receiptDate,jdbcType=VARCHAR},
    create_date_time = #{createDateTime,jdbcType=VARCHAR},
    create_user = #{createUser,jdbcType=VARCHAR},
    remark = #{remark,jdbcType=VARCHAR},
    status = #{status,jdbcType=VARCHAR},
    total_boxes = #{totalBoxes,jdbcType=INTEGER},
    total_amount = #{totalAmount,jdbcType=DOUBLE},
    total_money = #{totalMoney,jdbcType=DOUBLE},
    real_amount = #{realAmount,jdbcType=DOUBLE},
    real_money = #{realMoney,jdbcType=DOUBLE},
    version = #{version,jdbcType=INTEGER},
    warehouse = #{warehouse,jdbcType=VARCHAR},
    store_date = #{storeDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jason.trade.entity.InternalContractParam" >
    select
    <include refid="Base_Column_List" />
    from internal_contract_info
    where 1 = 1
    <if test="contractNo != null" >
      and contract_no like '%${contractNo}%'
    </if>
    <if test="contractStartDate != null and contractStartDate != ''" >
      and contract_date &gt;= '${contractStartDate}'
    </if>
    <if test="contractEndDate != null and contractEndDate != ''" >
      and contract_date &lt;= '${contractEndDate}'
    </if>
    <choose>
      <when test="status != null and status != ''">
        and status in (${status})
      </when>
      <otherwise>
        and status != '0'
      </otherwise>
    </choose>
    order by id desc
    <if test="start != null and limit != null" >
      limit ${start},${limit}
    </if>
  </select>
  <select id="selectCountByExample" resultType="java.lang.Integer" parameterType="com.jason.trade.entity.InternalContractParam" >
  select count(1) from internal_contract_info
  where 1 = 1
  <if test="contractNo != null" >
    and contract_no like '%${contractNo}%'
  </if>
  <if test="contractStartDate != null and contractStartDate != ''" >
    and contract_date &gt;= '${contractStartDate}'
  </if>
  <if test="contractEndDate != null and contractEndDate != ''" >
    and contract_date &lt;= '${contractEndDate}'
  </if>
  <choose>
    <when test="status != null and status != ''">
      and status in (${status})
    </when>
    <otherwise>
      and status != '0'
    </otherwise>
  </choose>
  order by id desc
  </select>
</mapper>