<div th:fragment="common" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/select2/css/select2.css"/>
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/linearicons/style.css"/>
    <link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css"/>
    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="/assets/css/googlefont.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrapValidator.min.css"/>
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png"/>
    <!-- Javascript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/select2/js/select2.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/scripts/bootstrapValidator.min.js"></script>
    <script src="/assets/scripts/bootstrap-table.js"></script>
    <script src="/assets/scripts/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/sweetalert2/sweetalert2-6.6.2.min.css"/>
    <script src="/assets/vendor/sweetalert2/sweetalert2-6.6.2.min.js"></script>
    <script src="/assets/scripts/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/assets/scripts/klorofil-common.js"></script>
    <script src="/assets/js/common.js"></script>
</div>

<div th:fragment="nav" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand" style="padding:15px 20px;">
            <a href="index.html"><img src="/assets/img/joc-icon.png" style="height:50px;"/></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" id="arrow" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger" id="noticeNum"></span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" onclick="alarm(1)" class="notification-item"><span class="badge bg-danger" id="n1"></span>条台账超出预计船期14天未处理</a></li>
                            <li><a href="#" onclick="alarm(2)" class="notification-item"><span class="badge bg-danger" id="n2"></span>条台账超出入库日期60天未处理</a></li>
                            <li><a href="#" onclick="alarm(3)" class="notification-item"><span class="badge bg-danger" id="n3"></span>条台账超出ETA日期15天未处理</a></li>
                            <li><a href="#" onclick="alarm(4)" class="notification-item"><span class="badge bg-danger" id="n4"></span>种商品的库存小于5箱且未售完</a></li>
                            <li><a href="#" onclick="alarm(5)" class="notification-item"><span class="badge bg-danger" id="n5"></span>笔销售记录的利润亏损</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/img/user.png" class="img-circle" alt="Avatar"/>
                            <span th:text="${user.name}"></span> <i class="icon-submenu lnr lnr-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                            <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                            <li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>