<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>进销存管理-JOC系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/linearicons/style.css"/>
    <link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.css"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css"/>
    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="/assets/css/googlefont.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-table.css"/>
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png"/>
    <!-- Javascript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/select2/css/select2.min.css"/>
    <script src="/assets/vendor/select2/js/select2.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/toastr/toastr.min.css"/>
    <script src="/assets/vendor/toastr/toastr.min.js"></script>
    <script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="/assets/scripts/bootstrap-table.js"></script>
    <script src="/assets/scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/scripts/klorofil-common.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/cargomanage.js"></script>
    <script>
        $(function(){
            //获取警示数目
            getNoticeNum();
        });
        var getNoticeNum = function(){
            $("#noticeNum").html("");
        }
    </script>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div th:include="common::nav"></div>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="/index"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="active"><i class="lnr lnr-file-empty"></i> <span>贸易台账管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse in">
                            <ul class="nav">
                                <li><a href="/trade/contract">台账</a></li>
                                <li><a href="/trade/cargomanage" class="active">进销存</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="" style="padding-bottom:0px;">
                    <div class="panel panel-default" style="margin-bottom:10px;">
                        <div class="panel-heading" style="padding-top:10px;padding-bottom:10px;">查询条件
                            <div style="float:right;">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">展开/收起</a>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-body panel-collapse collapse in" style="padding-top:10px;padding-bottom:0;">
                            <form id="formSearch" class="form-horizontal">
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-2">外合同编号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="contractNo"/>
                                    </div>
                                    <label class="control-label col-sm-2">内合同编号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="insideContract"/>
                                    </div>
                                    <label class="control-label col-sm-2">库号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="cargoNo"/>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-2">仓库</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="warehouse">
                                            <option>全部</option>
                                            <option>名联</option>
                                            <option>领升</option>
                                            <option>普菲斯（外高桥）</option>
                                            <option>普菲斯（洋山）</option>
                                            <option>太古</option>
                                            <option>保翔</option>
                                            <option>大宛</option>
                                            <option>鑫汇洋</option>
                                            <option>瑞源</option>
                                            <option>库外</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-2">产品名称</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="cargoName">
                                            <option>全部</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-2">产品级别</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="level">
                                            <option>全部</option>
                                            <option>A</option>
                                            <option>B</option>
                                            <option>S</option>
                                            <option>YP</option>
                                            <option>YG</option>
                                            <option>GF S</option>
                                            <option>GF S ANGUS</option>
                                            <option>无</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-2">客户名称</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="customerName"/>
                                    </div>
                                    <label class="control-label col-sm-2">柜号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="containerNo"/>
                                    </div>
                                    <label class="control-label col-sm-2">提单号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="ladingbillNo"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">入库日期从:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="storeStartDate" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-2">到:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="storeEndDate" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <div class="col-sm-12" style="text-align:right;">
                                        <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                                        <button type="button" id="btn_reset" class="btn btn-default">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <div class="form-group" style="">
                            <label class="control-label col-sm-2">当前库存总重量</label>
                            <div class="col-sm-2">
                                <input type="text" id="totalStoreWeight" class="form-control"/>
                            </div>
                            <label class="control-label col-sm-2">当前库存总箱数</label>
                            <div class="col-sm-2">
                                <input type="text" id="totalStoreBoxes" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <table id="tb_cargo"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2018 All rights reserved.</p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
</body>

</html>
