<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Home</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/linearicons/style.css"/>
    <link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css"/>
    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="/assets/css/googlefont.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css"/>
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png"/>
    <!-- Javascript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/scripts/bootstrap-table.js"></script>
    <script src="/assets/scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/scripts/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/assets/scripts/klorofil-common.js"></script>
    <script src="/assets/js/cargoadd.js"></script>
    <script>
        $(function(){
            //获取警示数目
            getNoticeNum();
        });
        var getNoticeNum = function(){
            $("#noticeNum").html("");
        }
    </script>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand" style="padding:15px 20px;">
            <a href="index.html"><img src="../assets/img/joc-icon.png" style="height:50px;"/></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger" id="noticeNum"></span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/img/user.png" class="img-circle" alt="Avatar"/>
                            <span th:text="${user.name}"></span> <i class="icon-submenu lnr lnr-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                            <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                            <li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="/index"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="active"><i class="lnr lnr-file-empty"></i> <span>贸易台账管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse in">
                            <ul class="nav">
                                <li><a href="/trade/contract" class="active">自营台账</a></li>
                                <li><a href="/trade/cargomanage">进销存台账</a></li>
                                <li><a href="/trade/agent">代理台账</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="" style="padding-bottom:0px;">
                    <div class="panel panel-default" style="margin-bottom:10px;">
                        <div class="panel-heading" style="padding-top:10px;padding-bottom:10px;text-align:center;font-size:24px;">新增自营台账</div>
                        <div class="panel-body" style="padding-top:10px;padding-bottom:0;">
                            <div class="panel panel-default">
                                <div class="panel-heading">基本信息</div>
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">外合同编号</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">内合同编号</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">业务模式</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">厂号</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">合同日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="contractDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                            <label class="control-label col-sm-3">存储仓库</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">入库日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="storeDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">采购信息</div>
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">规格</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">原产地</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">起运港</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">目的港</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">价格条件</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">船期ETD</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="etdDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">船期ETA</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="etaDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">预付款信息</div>
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">付款金额(USD)</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">付款日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="prePaymentDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">汇率</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">总计(CNY)</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">尾款信息</div>
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">付款金额(USD)</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">付款日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="finalPaymentDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">汇率</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">总计(CNY)</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">单据信息</div>
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">已核对电子版</label>
                                            <div class="col-sm-3">
                                                <label class="fancy-checkbox" style="padding-top:5px;">
                                                    <input type="checkbox"/>
                                                    <span></span>
                                                </label>
                                            </div>
                                            <label class="control-label col-sm-3">保险购买日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="insuranceBuyDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">寄出日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="insuranceSendDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                            <label class="control-label col-sm-3">签收日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="insuranceSignDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">柜号</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">提单号</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">货代</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">单据寄给货代日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="agentSendDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">放行日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="agentPassDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">税款信息</div>
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">税票抵扣方</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">关税</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <label class="control-label col-sm-3">增值税</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group" style="">
                                            <label class="control-label col-sm-2">付税日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="taxPayDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                            <label class="control-label col-sm-3">税票签收日期</label>
                                            <div class="col-sm-3">
                                                <div class="input-append date form-date" id="taxSignDate">
                                                    <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div style="text-align:center;">
                                <button type="button" class="btn btn-primary" id="save">保存</button>
                                <button type="button" class="btn btn-default" id="cancel">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2018 All rights reserved.</p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
</body>

</html>
