<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>进口台账管理-JOC系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/linearicons/style.css"/>
    <link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css"/>
    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="/assets/css/googlefont.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-table.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.css"/>
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png"/>
    <!-- Javascript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/select2/css/select2.css"/>
    <script src="/assets/vendor/select2/js/select2.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/sweetalert2/sweetalert2-6.6.2.min.css"/>
    <script src="/assets/vendor/sweetalert2/sweetalert2-6.6.2.min.js"></script>
    <script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="/assets/scripts/bootstrap-table.js"></script>
    <script src="/assets/scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/scripts/klorofil-common.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/contract.js"></script>
    <script>
        $(function(){
            //获取警示数目
            getNoticeNum();
        });
        var getNoticeNum = function(){
            $("#noticeNum").html("");
        }
    </script>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div th:include="common::nav"></div>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="/index"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="active"><i class="lnr lnr-file-empty"></i> <span>贸易台账管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse in">
                            <ul class="nav">
                                <li><a href="/trade/contract" class="active">进口台账</a></li>
                                <li><a href="/trade/cargomanage">进销存</a></li>
                                <li><a href="/trade/internal">内贸台账</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>统计分析</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages2" class="collapse">
                            <ul class="nav">
                                <li><a href="/trade/query/contract">订单数据统计</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="" style="padding-bottom:0px;">
                    <div class="panel panel-default" style="margin-bottom:10px;">
                        <div class="panel-heading" style="padding-top:10px;padding-bottom:10px;">查询条件
                            <div style="float:right;">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">展开/收起</a>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-body panel-collapse collapse in" style="padding-top:10px;padding-bottom:0;">
                            <form id="formSearch" class="form-horizontal">
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-1" for="externalContract">外合同编号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="externalContract"/>
                                    </div>
                                    <label class="control-label col-sm-1">内合同编号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="insideContract"/>
                                    </div>
                                    <label class="control-label col-sm-1">进口合同编号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="importContractNo"/>
                                    </div>
                                    <label class="control-label col-sm-1">外商</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="externalCompany" multiple="multiple">
                                            <option>全部</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-1">产品名称</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="cargoName">
                                            <option>全部</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-1">产品级别</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="level" multiple="multiple">
                                            <option>全部</option>

                                        </select>
                                    </div>
                                    <label class="control-label col-sm-1">库号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="cargoNo"/>
                                    </div>
                                    <label class="control-label col-sm-1">业务模式</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="businessMode" multiple="multiple">
                                            <option>全部</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-1" for="externalContract">合同日期从:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="contractStartDate" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-1">到:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="contractEndDate" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-1" for="externalContract">ETA日期从:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="etaStartDate" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-1">到:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="etaEndDate" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-1" for="externalContract">报关单号:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="tariffNo"/>
                                    </div>
                                    <label class="control-label col-sm-1">柜号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="containerNo" />
                                    </div>
                                    <label class="control-label col-sm-1">提单号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="ladingbillNo" />
                                    </div>
                                    <label class="control-label col-sm-1">货代</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="agent" multiple="multiple">
                                            <option>全部</option>
                                            <option>佳克</option>
                                            <option>欧恒</option>
                                            <option>捷嘉</option>
                                            <option>源丰祥</option>
                                            <option>同华</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-1">厂号</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="companyNo" />
                                    </div>
                                    <label class="control-label col-sm-1">目的港</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="destinationPort" multiple="multiple">
                                            <option>全部</option>
                                            <option>上海</option>
                                            <option>天津</option>
                                            <option>深圳</option>
                                            <option>连云港</option>
                                            <option>张家港</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-1">状态</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="status" multiple="multiple">
                                            <option>全部</option>
                                            <option>已下单</option>
                                            <option>已装船</option>
                                            <option>已到港</option>
                                            <option>已入库</option>
                                            <option>已售完</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group" style="">
                                    <div class="col-sm-12" style="text-align:right;">
                                        <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                                        <button type="button" id="btn_reset" class="btn btn-default">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default" style="margin-bottom: -5px;">
                        <form class="form-horizontal">
                            <div class="panel-body">
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-2">当前合同总金额:</label>
                                    <div class="col-sm-3" style="padding-top:6px;">
                                        <span id="totalContractMoney"></span>
                                    </div>
                                    <label class="control-label col-sm-3">当前发票总金额:</label>
                                    <div class="col-sm-3" style="padding-top:6px;">
                                        <span id="totalInvoiceMoney"></span>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-2">当前合同总重量:</label>
                                    <div class="col-sm-3" style="padding-top:6px;">
                                        <span id="totalContractAmount"></span>
                                    </div>
                                    <label class="control-label col-sm-3">当前发票总重量:</label>
                                    <div class="col-sm-3" style="padding-top:6px;">
                                        <span id="totalInvoiceAmount"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="toolbar" class="btn-group">
                        <button id="btn_add" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                        </button>
                        <button id="btn_edit" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑
                        </button>
                        <button id="btn_delete" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                        </button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                            <span class="fa fa-download" aria-hidden="true"></span>导出EXCEL
                        </button>
                    </div>
                    <table id="tb_contract"></table>
                </div>
                <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">导出字段选择</h4>
                            </div>
                            <div class="modal-body" style="height:450px;overflow-y:auto;">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding:0 0 0 0;text-align:center;">基本信息</div>
                                    <div class="panel-body">
                                        <div class="form-group" id="htDiv">
                                            <input type="checkbox" id="htBtn" checked="checked"/>全选/全不选<br/>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>序号</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>外合同编号</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>内合同编号</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>合同日期</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>外商</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>原产地</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>储存条件</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>价格条件</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>目的港</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>币种</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>付款方式</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>预计船期</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>汇率</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>箱数总计</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>合同总重量(KG)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>合同总金额(元)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>发票总重量(KG)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>发票总金额(元)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>开证行</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>开证日期</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>LC NO.</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>付汇日</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>付汇汇率</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>已办理押汇</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>押汇金额</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>押汇年利率</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>押汇到期日</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>押汇日汇率</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>预付款金额</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>尾款金额</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>预付款银行</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>尾款银行</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>预付款日期</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>尾款日期</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>预付款汇率</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>尾款汇率</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>已办理融资</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>融资银行</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>融资金额</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>融资年利率</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>融资到期日</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>到期日汇率</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>柜号</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>提单号</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>货柜尺寸</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>需要购买保险</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>保险公司</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>保险购买日期</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>保费</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>ETD</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>ETA</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>已核对电子版</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>已出检疫证</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>已出报关单</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>货代</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>单据寄给货代日期</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>关税</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>增值税</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>付税日期</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>报关单号</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>放行日期</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>仓库</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>入库日期</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>滞箱费</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>滞港费</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>备注</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding:0 0 0 0;text-align:center;">商品信息字段</div>
                                    <div class="panel-body">
                                        <div class="form-group" id="spDiv">
                                            <input type="checkbox" id="spBtn"  checked="checked"/>全选/全不选<br/>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>产品名称</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>级别</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>库号</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>业务模式</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>厂号</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>采购单价(/KG)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>箱数(小计)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>合同数量(小计)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>合同金额(小计:元)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>发票数量(小计)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>发票金额(小计:元)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>成本单价(元/KG)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>库存金额(元)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>当前库存重量</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>当前库存箱数</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding:0 0 0 0;text-align:center;">进销存字段</div>
                                    <div class="panel-body">
                                        <div class="form-group" id="jxDiv">
                                            <input type="checkbox" id="jxBtn"  checked="checked"/>全选/全不选<br/>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>提货时间</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>销售经理</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>销售合同编号</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>客户名称</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>预售单价(元/KG)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>预售重量(kg)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>预售金额(元)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>预售箱数</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>预出库时间</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>实售单价(元/KG)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>实售重量(kg)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>实售箱数</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>实售金额(元)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>出库单时间</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>定金时间</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>定金</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>客户来款时间</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>客户来款金额(元)</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>货款差额</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>是否已结清</div>
                                            <div class="col-sm-3"><input type="checkbox" name="excelChk" checked="checked"/>备注</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button  id="btn_output" type="button" class="btn btn-default">导出</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2018 All rights reserved.</p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
</body>

</html>
