<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>付汇信息(开证)-贸易系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/vendor/linearicons/style.css"/>
    <link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css"/>
    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="/assets/css/googlefont.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-table.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.css"/>
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png"/>
    <!-- Javascript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/select2/css/select2.css"/>
    <script src="/assets/vendor/select2/js/select2.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/sweetalert2/sweetalert2-6.6.2.min.css"/>
    <script src="/assets/vendor/sweetalert2/sweetalert2-6.6.2.min.js"></script>
    <script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="/assets/scripts/bootstrap-table.js"></script>
    <script src="/assets/scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/scripts/klorofil-common.js"></script>
    <script src="/assets/js/common.js?v=0305"></script>
    <script src="/assets/js/queryFuhuiKZ.js"></script>
    <script>
        $(function(){
            //获取警示数目
            getNoticeNum();
        });
    </script>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div th:include="common::nav"></div>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="/index"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>贸易台账管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse">
                            <ul class="nav">
                                <li><a href="/trade/contract">进口台账</a></li>
                                <li><a href="/trade/cargomanage">进销存</a></li><li><a href="/trade/precargomanage">预售</a></li>
                                <li><a href="/trade/internal">内贸台账</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#subPages2" data-toggle="collapse"><i class="lnr lnr-file-empty"></i> <span>统计分析</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages2" class="collapse in">
                            <ul class="nav">
                                <li><a href="/trade/query/contract">订单数据统计(台账)</a></li>
                                <li><a href="/trade/query/cargo">订单数据统计(商品)</a></li>
                                <li><a href="/trade/query/duty">付税信息</a></li>
                                <li><a href="/trade/query/fuhui">付汇信息</a></li><li><a href="/trade/query/fuhuiRZ">付汇信息(融资)</a></li>
                                <li><a href="/trade/query/fuhuiKZ" class="active">付汇信息(开证)</a></li>
                                <li><a href="/trade/query/baoguan">报关信息</a></li>
                                <li><a href="/trade/query/storeIn">入库信息</a></li>
                                <li><a href="/trade/query/storeInfo">库存信息</a></li>
                                <li><a href="/trade/query/storeOut">出库信息</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="" style="padding-bottom:0px;">
                    <div class="panel panel-default" style="margin-bottom:10px;">
                        <div class="panel-heading" style="padding-top:10px;padding-bottom:10px;">查询条件
                            <div style="float:right;">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">展开/收起</a>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-body panel-collapse collapse in" style="padding-top:10px;padding-bottom:0;">
                            <form id="formSearch" class="form-horizontal">
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-1">合同代理公司</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="ownerCompany">
                                            <option>全部</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-1">商品属性</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="cargoType">
                                            <option></option>
                                            <option>牛产品</option>
                                            <option>猪产品</option>
                                            <option>禽产品</option>
                                            <option>羊产品</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-1">外商</label>
                                    <div class="col-sm-1">
                                        <select class="form-control select2" id="cmpRel">
                                            <option value="1">包含</option>
                                            <option value="0">不包含</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <select class="form-control select2" id="externalCompany" multiple="multiple">
                                            <option>全部</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-1">原产地</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="originCountry" multiple="multiple">
                                            <option>全部</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-1">开证行:</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="issuingBank">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-1">开证日期从:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="issuingDateStart" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-1">到:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="issuingDateEnd" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-1">付汇日从:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="remittanceDateStart" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-1">到:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="remittanceDateEnd" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-1">押汇到期日从:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="yahuidaoqiDateStart" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-1">到:</label>
                                    <div class="col-sm-2">
                                        <div class="input-append date form_datetime">
                                            <input size="16" type="text" value="" id="yahuidaoqiDateEnd" class="form-control" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                    <label class="control-label col-sm-1">押汇金额最小值:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="yahuiMoneyMin" />
                                    </div>
                                    <label class="control-label col-sm-1">押汇金额最大值:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="yahuiMoneyMax" />
                                    </div>
                                </div>
                                <div class="form-group" style="">
                                    <div class="col-sm-12" style="text-align:right;">
                                        <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                                        <button type="button" id="btn_reset" class="btn btn-default">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="totalInfoDiv" class="panel panel-default" style="margin-bottom: -5px;">
                        <form class="form-horizontal">
                            <div class="panel-body">
                                <div class="form-group" style="">
                                    <label class="control-label col-sm-2">发票总金额(CNY):<br/>(USD):<br/>(AUD):</label>
                                    <div class="col-sm-2" style="padding-top:6px;">
                                        <span id="totalCNYInvoiceMoney"></span><br/>
                                        <span id="totalUSDInvoiceMoney"></span><br/>
                                        <span id="totalAUDInvoiceMoney"></span>
                                    </div>
                                    <label class="control-label col-sm-2">开证总金额(CNY):<br/>(USD):<br/>(AUD):</label>
                                    <div class="col-sm-2" style="padding-top:6px;">
                                        <span id="totalCNYYahuiMoney"></span><br/>
                                        <span id="totalUSDYahuiMoney"></span><br/>
                                        <span id="totalAUDYahuiMoney"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table id="tb_contract"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2018 All rights reserved.</p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
</body>

</html>
